.lab {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 0.8rem;
}

.lab.verde {
    background-color: green;
}

.lab.vermelho {
    background-color: red;
}

.lab.cinza {
    background-color: gray;
}

.cont-todos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-lab {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(8, 1fr);
}

.titulo {
    padding: 1rem;
    color: white;
    text-align: center;
}

.tooltip-custom {
    pointer-events: none;
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}
.lab:hover .tooltip-custom {
    visibility: visible;
    opacity: 1;
}
